java/trunk/data/MDJ.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:mds="http://www.example.org/MDJ/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MDJ" targetNamespace="http://www.example.org/MDJ/" xmlns:xsd1="http://www.example.org/MDJ">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/MDJ/">
            <xsd:element name="GetGameDescription">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="in" type="xsd:string"></xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="out" type="xsd:string"></xsd:element>
        </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.example.org/MDJ"
    		schemaLocation="MDJ.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="GetGameDescriptionRequest">
  	<wsdl:part name="parameters" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="GetGameDescriptionResponse">
  	<wsdl:part name="parameters" type="xsd1:SimpleGame"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmitTurnRequest">
  	<wsdl:part name="SubmitTurnRequest" type="xsd1:SimpleTurn"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SubmitTurnResponse">
  	<wsdl:part name="SubmitTurnResponse"
  		type="xsd1:SimpleTurnResults">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MDJ">
        <wsdl:operation name="GetGameDescription">
        	<wsdl:input message="mds:GetGameDescriptionRequest"></wsdl:input>
        	<wsdl:output message="mds:GetGameDescriptionResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitTurn">
        	<wsdl:input message="mds:SubmitTurnRequest"></wsdl:input>
        	<wsdl:output message="mds:SubmitTurnResponse"></wsdl:output>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MDJSOAP" type="mds:MDJ">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  </wsdl:binding>
  <wsdl:service name="MDJ">
    <wsdl:port binding="mds:MDJSOAP" name="MDJSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
